@page "/"
<link href="css/ajouter-fournisseur.css" rel="stylesheet" />
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<PageTitle>Ajouter Fournisseur</PageTitle>
<div class="form-container">
    <h1 class="form-title">Ajouter nouveau fournisseur</h1>
    <div class="step-bar">
        <div class="step-label-left">Informations de contact</div>
        <div class="step-line">
            <div class="circle @(step == 1 ? "active" : "inactive")">1</div>
            <div class="line"></div>
            <div class="circle @(step == 2 ? "active" : "inactive")">2</div>
        </div>
        <div class="step-label-right">Détails bancaires</div>
    </div>

    <EditForm Model="fournisseur" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (step == 1)
        {
            <div class="form-fields">
                <label for="Nom">Nom ou raison sociale</label>
                <InputText id="Nom" class="input-field" @bind-Value="fournisseur.Nom" />

                <label for="NatureJuridique">Nature juridique</label>
                <InputText id="NatureJuridique" class="input-field" @bind-Value="fournisseur.NatureJuridique" />

                <label for="Adresse">Adresse</label>
                <InputText id="Adresse" class="input-field" @bind-Value="fournisseur.Adresse" />

                <label for="Telephone">Numéro de téléphone</label>
                <InputText id="Telephone" class="input-field" @bind-Value="fournisseur.Telephone" />

                <label for="Email">Adresse mail</label>
                <InputText id="Email" class="input-field" @bind-Value="fournisseur.Email" />

                <button type="button" class="next-button" @onclick="GoToStepTwo">Suivante</button>
            </div>

        }
        else if (step == 2)
        {
            <div class="form-fields">
                <label for="RC">RC</label>
                <InputText id="RC" class="input-field" @bind-Value="fournisseur.RegistreCommerce" />

                <label for="NIF">NIF</label>
                <InputText id="NIF" class="input-field" @bind-Value="fournisseur.NIF" />

                <label for="NIS">NIS</label>
                <InputText id="NIS" class="input-field" @bind-Value="fournisseur.NIS" />

                <label for="AI">AI</label>
                <InputText id="AI" class="input-field" @bind-Value="fournisseur.ArticleImposition" />

                <label for="RIB">RIB</label>
                <InputText id="RIB" class="input-field" @bind-Value="fournisseur.RIB" />

                <label for="Agence">Agence bancaire</label>
                <InputText id="Agence" class="input-field" @bind-Value="fournisseur.Agence" />

                <div class="button-group">
                    <button type="button" class="prev-button" @onclick="GoToStepOne">Précédent</button>
                    <button type="submit" class="save-button">Sauvegarder</button>
                </div>
            </div>

        }
    </EditForm>
</div>

@code {

@using CommissionOuverturePlis.Classes

private int step = 1;

    private FournisseurModel fournisseur = new();

    private void GoToStepTwo()
    {
        step = 2;
    }

    private void GoToStepOne()
    {
        step = 1;
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("Fournisseur sauvegardé !");

    }

   
}
