
.page {
    background-color: #f6f8fc;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    transition: margin 0.3s ease;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
}

    .sidebar.show {
        transform: translateX(0);
    }

        .sidebar.show + main {
            margin-left: 250px;
        }

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    transition: padding 0.3s ease;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        transform: translateX(0);
        position: sticky;
    }

    main {
        margin-left: 250px;
    }

    .sidebar.show + main {
        margin-left: 250px;
    }
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
        padding-left: 1rem;
    }

    .sidebar.show + main .top-row {
        padding-left: calc(250px + 1rem);
    }
}
